<Project>
  <!-- Dev upload trust token -->
  <!--
  <PropertyGroup>
    <ScoreSaberDevelopmentUploadToken></ScoreSaberDevelopmentUploadToken>
  </PropertyGroup>
  -->

  <!-- Used by ./build.sh -->
  <!--
  <PropertyGroup>
    <ScoreSaberSshTarget>user@host</ScoreSaberSshTarget>
    <ScoreSaberSshBeatSaberDir>C:\Path\To\Beat Saber</ScoreSaberSshBeatSaberDir>
  </PropertyGroup>
  -->

  <!-- Admin only auth override settings -->
  <!--
  <PropertyGroup>
    <ScoreSaberDevelopmentAuthNonce></ScoreSaberDevelopmentAuthNonce>
    <ScoreSaberDevelopmentPlayerId></ScoreSaberDevelopmentPlayerId>
    <ScoreSaberDevelopmentPlayerName></ScoreSaberDevelopmentPlayerName>
  </PropertyGroup>
  -->

  <!-- Official build metadata. Used for CI -->
  <!--
  <PropertyGroup>
    <ScoreSaberOfficialBuildId></ScoreSaberOfficialBuildId>
    <ScoreSaberOfficialBuildCredential></ScoreSaberOfficialBuildCredential>
    <ScoreSaberOfficialArtifactSha256></ScoreSaberOfficialArtifactSha256>
  </PropertyGroup>
  -->
</Project>
