<Project>
  <!-- Dev upload trust token -->
  <!--
  <PropertyGroup>
    <ScoreSaberDevelopmentUploadToken></ScoreSaberDevelopmentUploadToken>
  </PropertyGroup>
  -->

  <!-- (Optional) Used by ./build.sh -->
  <!--
  <PropertyGroup>
    <ScoreSaberSshTarget>user@host</ScoreSaberSshTarget>
    <ScoreSaberSshBeatSaberDir>C:\Path\To\Beat Saber</ScoreSaberSshBeatSaberDir>
  </PropertyGroup>
  -->

  <!-- (Optional) per target local/remote installs. If you're using VS + BSMT you probably don't need to worry about this -->
  <!--
  <PropertyGroup>
    <ScoreSaberGameDirectory1_29_0>C:\Path\To\Beat Saber 1.29.1</ScoreSaberGameDirectory1_29_0>
    <ScoreSaberGameDirectory1_37_1>C:\Path\To\Beat Saber 1.37.1</ScoreSaberGameDirectory1_37_1>
    <ScoreSaberGameDirectory1_38_0>C:\Path\To\Beat Saber 1.38.0</ScoreSaberGameDirectory1_38_0>
    <ScoreSaberGameDirectory1_40_0>C:\Path\To\Beat Saber 1.40.8</ScoreSaberGameDirectory1_40_0>
    <ScoreSaberGameDirectory1_42_0>C:\Path\To\Beat Saber 1.42.0</ScoreSaberGameDirectory1_42_0>

    <ScoreSaberSshBeatSaberDir1_29_0>C:\Path\To\Beat Saber 1.29.1</ScoreSaberSshBeatSaberDir1_29_0>
    <ScoreSaberSshBeatSaberDir1_37_1>C:\Path\To\Beat Saber 1.37.1</ScoreSaberSshBeatSaberDir1_37_1>
    <ScoreSaberSshBeatSaberDir1_38_0>C:\Path\To\Beat Saber 1.38.0</ScoreSaberSshBeatSaberDir1_38_0>
    <ScoreSaberSshBeatSaberDir1_40_0>C:\Path\To\Beat Saber 1.40.8</ScoreSaberSshBeatSaberDir1_40_0>
    <ScoreSaberSshBeatSaberDir1_42_0>C:\Path\To\Beat Saber 1.42.0</ScoreSaberSshBeatSaberDir1_42_0>
  </PropertyGroup>
  -->

  <!-- (Optional) use stripped refs. Normal Visual Studio + BSMT builds should use BeatSaberDir instead -->
  <!--
  <PropertyGroup>
    <ScoreSaberUseLocalRefs>true</ScoreSaberUseLocalRefs>
  </PropertyGroup>
  -->

  <!-- (Optional) Admin only auth override settings -->
  <!--
  <PropertyGroup>
    <ScoreSaberDevelopmentAuthNonce></ScoreSaberDevelopmentAuthNonce>
    <ScoreSaberDevelopmentPlayerId></ScoreSaberDevelopmentPlayerId>
    <ScoreSaberDevelopmentPlayerName></ScoreSaberDevelopmentPlayerName>
  </PropertyGroup>
  -->

  <!-- Official build metadata. Used for CI -->
  <!--
  <PropertyGroup>
    <ScoreSaberOfficialBuildId></ScoreSaberOfficialBuildId>
    <ScoreSaberOfficialBuildCredential></ScoreSaberOfficialBuildCredential>
    <ScoreSaberOfficialArtifactSha256></ScoreSaberOfficialArtifactSha256>
  </PropertyGroup>
  -->
</Project>
